/* Header.css */
.custom-navbar {
  position: sticky !important; /* ヘッダーを固定 */
  top: 0;          /* 上端に固定 */
  left: 0;
  width: 100%;     /* 横幅を100%にして画面いっぱいに表示 */
  z-index: 9999;   /* 最前面に表示（Bootstrapのデフォルトz-indexより高く設定） */
  color: red;
  /* background-image: url('/images/background.webp'); 背景画像 */
  /* background-size: cover; */
  /* background-position: center center; */
}

.navbar {
  background-color: rgba(0, 0, 0, 0.8); /* 半透明の背景色 */
}

.brand-font {
  font-family: "EB Garamond", serif;
  font-weight: 500;
  font-style: normal;
  color: white; /* ブランド名の色を白に */
}
