.container {
    display: flex;
    align-items: center; /* 縦方向に中央揃え */
  }
  
  .image img{
    width: 10px; 
    height: auto; 
    margin-right: 10px; /* 画像とテキストの間に少しスペースを追加 */
  }
  
  .text {
    margin: 0; /* テキストの余白をリセット */
  }